$font-family: 'Montserrat', sans-serif;
$font-family2: 'Lato', sans-serif;
$font-title: 'Sintony', sans-serif;
$color: #ae99d9;
$font-title: 2.57em;

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,body{
    font-size:14px;
    font-family: $font-family;
    color:#6e6f72;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

a{
    text-decoration: none!important;
}

p{
    font-size: 1.14em;
    color: #6e6f72;
}

li{
    list-style-type: none;
}

.header{
    background-image: url("../image/Bg-header.png");
    background-size: cover;
    background-position: center;
    .header__nav{
        display: flex;
        justify-content: flex-end;
        padding: 2.5em 0;
        ul{
            display: flex;
            li{
                margin-left:1.5em;
                a{
                    font-family: $font-family;
                    color: white;
                    font-weight: bold;
                }
                a:hover{
                    border-bottom: 2px solid white;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .header__content{
        text-align: center;
        margin-top: 1.5em;
        h1{
            font-size: 4.28em;
            color:white;
            font-family: $font-title;
            font-weight: 400;
        }
        p{
            color: #cfcfcf;
            font-size: 1.35em;
            margin-bottom: 2em;
        }
        a{
            background: #4edbde;
            color: white;
            padding: 1em 5em;
            border-radius: 4px;
            font-size: 1.14em;
            font-weight: 400;
        }
        img{
            margin-top: 4.5em;
            max-width: 920px;
        }
    }
}

.article{
    display:flex;
    flex-direction: column;
    align-items: center;
    .article__btn{
        #started{
            background: $color;
            font-family: $font-family2;
            color:white;
            padding: 1em 2.8em;
            border-radius: 4px;
            margin-right: 7px;
        }
        #demo{
            background: #ffffff;
            margin-left: 7px;
            font-family: $font-family2;
            color: #b1bad0;
            padding: 1em 2.8em;
            border-radius: 4px;
            border: 1px solid #d4d2d2;
            box-shadow: 1px 1px 1px 1px #efefef;
        }
    }
    .article__content{
        text-align: center;
        margin-top: 5em;
        max-width: 920px;
        h2{
            font-size:2.5em;
            color: #a3adb5;
            font-family: $font-title;
        }
        p{
            font-size: 1.42em;
            font-family: $font-family2;
            color:#a3adb5;
        }
    }
}


/* @media */
@media screen and (max-width:1024px){
	html,body{font-size:13px;}
}
@media screen and (max-width:992px){
	html,body{font-size:12px;}
}
@media screen and (max-width:768px){
	html,body{font-size:11px;}
}

@media (min-width:1200px){
    .header__nav{
        margin-right: 92px;
    }
}